.search {
  margin: 1em 0;
}

.search fieldset {
  padding: 2em;
  border-radius: 0.5em;
}

.search legend {
  padding: 0 0.5em;
}

.search-fields > * + * {
  margin-top: 1em;
}

.search-fields-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.search-fields-row > * {
  flex: 0 1 20%;
  text-align: center;
}

.delay-label {
  cursor: help;
}

input:disabled {
  cursor: not-allowed;
}